*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 5px 0px;
}
header button{
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: left;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column1{
    width: 600px;
 margin-top: 20px;
}
ul{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
   
}
ul li{
    list-style: none;
    padding: 10px 10px;
    color: gray;
}
ul li:hover{
    color: black;
    border-bottom: 2px solid black;
}
.user{
       background-color: whitesmoke;
}
.user div{
    margin: 10px 0px;
}
.img{
    display: flex;
    align-self: baseline;
    flex-wrap: wrap;
}

.img img{
    height: 20px;
    width: 20px;
    border-radius: 100px;
    align-items: baseline;
    
}
.img a{
padding-left: 5px;
}
.flex1{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 10px 0px;
    width: 600px;
 
}
.like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.like>div i{
    padding-left: 5px;
}
.img1{
    padding-left: 10px;
}
.img1 img{
    width: 150px;
    height: 150px;
}
.column2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    width: 300px;
}
.column2>div h6{
    color: green;
}
.list1 div{
    margin: 15px 0px;
}
.list2{
margin: 10px 0px;
}
.list2 button{
padding: 5px 10px;
border-radius: 20px;
background-color: whitesmoke;
border: none;
margin: 5px 5px 5px 0px;
}
.list2 h6{
    margin: 10px 0px;
}
.follow{
    display: flex;
    flex-direction: row;
    padding-right: 50px ;
    gap: 10px;
    margin: 20px 0px;
}
.follow>div button{
    padding: 5px 5px;
    border-radius: 20px;
}
.follow>div button:hover{
    background-color: lightblue;
}