*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 5px 0px;
}
header button{
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: left;
}
main{
    display: flex;
    flex-direction: column;
}
.column1{
    width: 700px;
 
}
ul{
    display: flex;
    margin: 20px 0px;
    border-bottom: 1px solid gray;
   
}
ul li{
    list-style: none;
    padding: 10px 8px;
    color: gray;
}
ul li:hover{
    color: black;
    border-bottom: 2px solid black;
}
.user{
       background-color: whitesmoke;
}
.user div{
    margin: 10px 0px;
}
.img{
    display: flex;
    align-self: baseline;
}

.img img{
    height: 20px;
    width: 20px;
    border-radius: 100px;
    align-items: baseline;
    
}
.img a{
padding-left: 5px;
}
.flex1{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 10px 0px;
    width: 600px;
 
}
.like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.like>div i{
    padding-left: 5px;
}
.img1{
    padding-left: 10px;
}
.img1 img{
    width: 150px;
    height: 150px;
}