*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 5px 0px;
}
header button{
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: left;
}